src/__pycache__/*.pyc
tests/scratch.h5
src/pv_test.py
src/profile.txt
tests/__pycache__/*.pyc
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
.pytest_cache/v/cache/lastfailed
src/pv_test.py
src/wforecast.ini
src/config/*.ini
src/locations.csv
src/test_xarray.py
src/ssids_8441.list
src/target_diag.csv
src/res_8441_loc.csv
src/feat_diag.csv
